@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  /*font-family: 'Khula', sans-serif; */
  color: #010a14;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  font-size: 80pt;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #e735ac;
  user-select: none;
}

.logo span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -3px;
  color: #303030;
  z-index: 1;

}

.text-desc {
  font-size: 0.8rem;
}

.ws-avatar {
  background-color: #cdcdcd;
  width: 48px;
  height: 48px;
  font-weight: 600;
  user-select: none;
  text-align: center;
  line-height: 48px;
  float: left;
  margin-right: 15px;
  margin-left: 5px;
}

.ws-brick {
  user-select: none;
  cursor: pointer;
  transition: 0.1s;
  background-color: transparent;
  overflow: hidden;
}

.ws-brick:hover {
  background-color: #ececec;
}

.ws-brick:active {
  background-color: #dddddd;
  transition: 0.0s;
}

.tk-brick {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  transition: 0.1s;
  max-width: 400px;
  margin: 0 10px 10px 0;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.tk-brick:hover {
  background-color: #ececec;
}

.tk-brick:active {
  background-color: #dddddd;
  transition: 0.0s;
}

.tk-tag {
  font-size: 0.8rem;
  background-color: #357ce7;
  color: #ffffff;
  padding: 2px 4px 2px 4px;
  margin-right: 5px;
  display: inline-block;
}

.main-header {

  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
  display: flex;
  align-items: center;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
}

.just-cont {
  justify-content: space-between;
}

.u-avatar {
  width: 32px;
  height: 32px;
  user-select: none;
  text-align: center;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  background: #353535;
}

.board {
  padding-top: 20px;
  padding-bottom : 100px;
}

.tk-brick-online {
  font-weight: 600;
  padding: 10px;
  color: #ffffff;
  background: linear-gradient(27deg, rgba(51,223,194,0.999019676229867) 0%, rgba(46,254,145,1) 100%);
  transition: ease-in-out 0.2;
  user-select: none;
  max-width: 400px;
  width: 100%;
  display: inline-block;
}

.tk-brick-finished {
  padding: 10px;
  transition: ease-in-out 0.2;
  user-select: none;
  background-color: #e9e9e9;
  max-width: 400px;
  width: 100%;
  display: inline-block;
}

.tk-brick-online:hover, .tk-brick-finished:hover {
  transform: scale(0.98);
}

.tk-brick-online:active, .tk-brick-finished:active {
  transform: scale(0.96);
  transition: 0s;
}

.tk-badge {
  margin-left: 5px;
  text-align: center;
  user-select: none;
  color: #0689b1;
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 3px;
}

.bd-name {
  font-weight: 300;
  font-size: 0.9rem;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

.ticket {
  padding-top: 20px;
}

.ticket-btn-back {
  font-size: 0.9rem;
  display: inline-block;
}

.ticket-header {
  margin-bottom: 20px;
}

.btn-ticket {
  margin-top: 10px;
  display: block;
  width: calc(100% - 32px);
  position: absolute;
  bottom: 20px;

}

.btn-ticket-responce {
  color: #ffffff;
  background: linear-gradient(27deg, rgba(51,223,194,0.999019676229867) 0%, rgba(46,254,145,1) 100%);
  transition: ease-in-out 0.1s;
}

.btn-ticket-responce:hover {
  color: #ffffff;
  transform: scale(0.98);
}

.btn-ticket-responce:active {
  color: #ffffff;
  transform: scale(0.96);
  transition: 0.0s;
}

.chat-body {
  background-color: #eeeeee;
  color: #4e4e4e;
  padding: 15px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.msg-me {
  justify-content: flex-end;
}

.msg-me .chat-body {
  
  background: linear-gradient(34deg, rgba(31,177,255,0.999019676229867) 0%, rgba(146,101,232,1) 100%);
  color: #ffffff;
}

.chat-msg {
  padding: 10px 0 0 0;
  overflow: hidden;
  position: relative;
}

.msg-avatar {
  width: 32px;
  height: 32px;
  user-select: none;
  text-align: center;
  font-size: 0.8rem;
  line-height: 32px;
  background-color: #464646;
  font-weight: 600;
  color: #ffffff;

  position: absolute;
  bottom: 0;
}

.msg-not-me .msg-avatar {
  left: 0;
}

.msg-me .msg-avatar {
  right: 0;
}

.msg-from {
  font-weight: 600;
}

.buttom-msg-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px; 
}

.chat-list {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 78px;
  padding: 5px 20px 5px 20px;
  overflow-x: hidden;
  overflow-y: auto ;
}

.ticket-form-header-wrapper {
  margin-top: 10px;
}

.ticket-form input:focus {
  box-shadow: none;
}

.ticket-form textarea {
  resize: none;
}

.ticket-create .tk-tag {
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

.ticket-create input, .ticket-create textarea {
  border-color: transparent;
  background-color: #f3f6fa;
  color: #010a14;
  color: inherit; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.ticket-create input:focus, .ticket-create textarea:focus {
  background-color: #f3f6fa;
}

.ticket-meta-input {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ticket-create {
  padding-bottom: 100px;
}

.main-component-wrapper {
  position: absolute;
  left: 0;
  top: 53px;
  width: 100vw;
  height: calc(100vh - 53px);
  overflow-y: auto;
  overflow-x: hidden;
}

.ticket-add-btn {

  position: fixed;
  z-index: 20;
  bottom: 24px;
  left: 24px;

  width: 48px;
  height: 48px;

  background-color: #ffffff;

  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 48px;

  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);

  user-select: none;
  cursor: pointer;

  transition: ease-in-out 0.2s;

}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.line::after {
  content: "";
  width: 40%;
  height: 3px;
  background: #303030;
}

.ticket-add-btn:hover {
  background-color: #1457e9;
  transform: rotate(90deg);
}

.ticket-add-btn:hover .line::after, .ticket-add-btn:active .line::after {
  background: #ececec;
}

.ticket-add-btn:active {
  transform: scale(0.95);
  transition: 0s;
  background-color: #1457e9;
}

.status-bar-header {
  overflow: hidden;
}

.header-title {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ticket-control {
  display: flex;
  margin-bottom: 5px;
}

.tts-up {
  font-weight: 200;
}

.tts-down {
  font-weight: 600;
  font-size: 1.5rem;
}

.ticket-time-added {
  margin-left: 10px;
  color: #1457e9;
  font-weight: 300;
  margin-top: 3px;
}

.reward {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1457e9
}

.money {
  background-color: #1457e9;
  color: #ffffff;
  padding: 2px 8px 1px 8px;
}

.money-big {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.money-desc {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

.test-users {
  text-align: center;
  color: #a3a3a3;
  margin: 0;
}
